# R-Studio: `Label Encoding` Categorical Data

**<font color=red>Mr Fugu Data Science</font>**


# (◕‿◕✿)

[Github](https://github.com/MrFuguDataScience)
[Youtube](https://www.youtube.com/channel/UCbni-TDI-Ub8VlGaP8HLTNw?view_as=subscriber)

# Purpose & Outcome:

+ `Label Encoding`: 2 Examples
    + `One Hot Encoding`: Multiple Examples
+ `Explain Issues that can occur with BOTH`, for analysis later!

In [ ]:
# install.packages('dummies')
# install.packages('CatEncoders')

In [1]:
library(rmarkdown)
library(knitr)
library(tidyverse) # Ability to use dplyr methods/fcns
library(dummies) # Create Dummy variables for OneHot

libary(Matrix) # Create Sparse Matrix
library(CatEncoders) # Label & OneHot

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
onlineretail<-read.csv("online_sales.csv")

In [3]:
head(onlineretail)

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

In [7]:
# Removing Duplicate Rows: 
online_retail_am <- onlineretail %>% distinct()
head(online_retail_am)

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

In [8]:
# remove_na

remove_na<-na.omit(online_retail_am)
head(remove_na)

  InvoiceNo StockCode Description                         Quantity
1 536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER  6
2 536365    71053     WHITE METAL LANTERN                 6
3 536365    84406B    CREAM CUPID HEARTS COAT HANGER      8
4 536365    84029G    KNITTED UNION FLAG HOT WATER BOTTLE 6
5 536365    84029E    RED WOOLLY HOTTIE WHITE HEART.      6
6 536365    22752     SET 7 BABUSHKA NESTING BOXES        2
  InvoiceDate    UnitPrice CustomerID Country
1 12/1/2010 8:26 2.55      17850      United Kingdom
2 12/1/2010 8:26 3.39      17850      United Kingdom
3 12/1/2010 8:26 2.75      17850      United Kingdom
4 12/1/2010 8:26 3.39      17850      United Kingdom
5 12/1/2010 8:26 3.39      17850      United Kingdom
6 12/1/2010 8:26 7.65      17850      United Kingdom

In [9]:
# Canceled Orders:
sort_countries<-remove_na[order(remove_na$Country,remove_na$Description),]

canceled_orders<-sort_countries[grep("C",sort_countries$InvoiceNo),]

head(canceled_orders)

       InvoiceNo StockCode Description                         Quantity
267920 C560540   22150     3 STRIPEY MICE FELTCRAFT            -1
267931 C560540   20979     36 PENCILS TUBE RED RETROSPOT       -1
267922 C560540   22138     BAKING SET 9 PIECE RETROSPOT        -1
267906 C560540   23192     BUNDLE OF 3 ALPHABET EXERCISE BOOKS -1
267907 C560540   23190     BUNDLE OF 3 SCHOOL EXERCISE BOOKS   -1
267915 C560540   22973     CHILDREN'S CIRCUS PARADE MUG        -1
       InvoiceDate     UnitPrice CustomerID Country
267920 7/19/2011 12:26 1.95      12415      Australia
267931 7/19/2011 12:26 1.25      12415      Australia
267922 7/19/2011 12:26 4.95      12415      Australia
267906 7/19/2011 12:26 1.65      12415      Australia
267907 7/19/2011 12:26 1.65      12415      Australia
267915 7/19/2011 12:26 1.65      12415      Australia

In [10]:
# Using If/Else Conditions: here we are convert a qty of >1 to 1, else 0.
sort_countries$CanceledQty <- ifelse(sort_countries$Quantity>=1, 1, 0)
head(sort_countries)

       InvoiceNo StockCode Description                   Quantity
302520 563614    23345      DOLLY GIRL BEAKER            200
362626 568708    23391      I LOVE LONDON MINI BACKPACK    4
226306 556917    22418     10 COLOUR SPACEBOY PEN         48
89387  543989    20973     12 PENCIL SMALL TUBE WOODLAND 384
131085 547659    20984     12 PENCILS TALL TUBE POSY      12
226294 556917    20984     12 PENCILS TALL TUBE POSY     240
       InvoiceDate     UnitPrice CustomerID Country   CanceledQty
302520 8/18/2011 8:51  1.08      12415      Australia 1
362626 9/28/2011 15:41 4.15      12393      Australia 1
226306 6/15/2011 13:37 0.85      12415      Australia 1
89387  2/15/2011 9:52  0.55      12415      Australia 1
131085 3/24/2011 13:05 0.85      12434      Australia 1
226294 6/15/2011 13:37 0.29      12415      Australia 1

In [11]:
# Enabling Now to match rows and remove: this is because a canceled order usually
# has a corresponding value, unless it occured before dataset date range

canceled_orders$Quantity<-abs(canceled_orders$Quantity)
sort_countries$Quantity<-abs(sort_countries$Quantity)
# head(sort_countries)

In [12]:
fun<-sort_countries %>% 
  left_join(select(canceled_orders, CustomerID, StockCode, Quantity, Matches=Country)) %>% 
  mutate(Matches=ifelse(is.na(Matches), FALSE, TRUE))

Joining, by = c("StockCode", "Quantity", "CustomerID")

In [34]:
mm<-fun[!duplicated(fun),]

Order_Canceled<-mm[mm$Matches=='TRUE',] # corresponds to orginal match to canceled

Rest_ofData<-mm[mm$Matches=='FALSE',] # Orders that were never canceled

# `NEW CODE FOR TODAY`

+ Label Encoding & One Hot Examples:

`-------------------------------------`

# `Label Encode Ex.1)`

In [ ]:
# LABEL ENCODE:

country_LabelEncode<-as.numeric(as.factor(Rest_ofData$Country))
# length(unique(Rest_ofData$Country))

# Ex. 2) `Using(CatEncoders)Library`: Label Encoding

In [ ]:
# Label Encode 

countr_labelEncodetwo<-LabelEncoder.fit(Rest_ofData$Country)

transform(countr_labelEncodetwo, matrix(Rest_ofData$Country))

# One Hot Examples: 

+ Ex. 1) Using `Design Matrix` : 'Model Matrix'

In [119]:
# One Hot Encode Columns:
dfcat<-data.frame(model.matrix(~Rest_ofData$Country-1,data=as.factor(Rest_ofData$Country)))


head(dfcat)

  Rest_ofData.CountryAustralia Rest_ofData.CountryAustria
1 1                            0
2 1                            0
3 1                            0
4 1                            0
5 1                            0
6 1                            0
  Rest_ofData.CountryBahrain Rest_ofData.CountryBelgium
1 0                          0
2 0                          0
3 0                          0
4 0                          0
5 0                          0
6 0                          0
  Rest_ofData.CountryBrazil Rest_ofData.CountryCanada
1 0                         0
2 0                         0
3 0                         0
4 0                         0
5 0                         0
6 0                         0
  Rest_ofData.CountryChannel.Islands Rest_ofData.CountryCyprus
1 0                                  0
2 0                                  0
3 0                                  0
4 0                                  0
5 0                                  0
6 0                                  0
  Rest_ofData.CountryCzech.Republic Rest_ofData.CountryDenmark ⋯
1 0                                 0                          ⋯
2 0                                 0                          ⋯
3 0                                 0                          ⋯
4 0                                 0                          ⋯
5 0                                 0                          ⋯
6 0                                 0                          ⋯
  Rest_ofData.CountryRSA Rest_ofData.CountrySaudi.Arabia
1 0                      0
2 0                      0
3 0                      0
4 0                      0
5 0                      0
6 0                      0
  Rest_ofData.CountrySingapore Rest_ofData.CountrySpain
1 0                            0
2 0                            0
3 0                            0
4 0                            0
5 0                            0
6 0                            0
  Rest_ofData.CountrySweden Rest_ofData.CountrySwitzerland
1 0                         0
2 0                         0
3 0                         0
4 0                         0
5 0                         0
6 0                         0
  Rest_ofData.CountryUnited.Arab.Emirates Rest_ofData.CountryUnited.Kingdom
1 0                                       0
2 0                                       0
3 0                                       0
4 0                                       0
5 0                                       0
6 0                                       0
  Rest_ofData.CountryUnspecified Rest_ofData.CountryUSA
1 0                              0
2 0                              0
3 0                              0
4 0                              0
5 0                              0
6 0                              0

In [217]:
# Create Sparse Matrix to save memory:
# library(Matrix)
sparse_matrix_encode<-Matrix(as.matrix(dfcat),sparse = T)

In [220]:
head(unique(dfcat))

# head(sparse_matrix_encode)

     Rest_ofData.CountryAustralia Rest_ofData.CountryAustria
1    1                            0
1112 0                            1
1510 0                            0
1527 0                            0
3547 0                            0
3579 0                            0
     Rest_ofData.CountryBahrain Rest_ofData.CountryBelgium
1    0                          0
1112 0                          0
1510 1                          0
1527 0                          1
3547 0                          0
3579 0                          0
     Rest_ofData.CountryBrazil Rest_ofData.CountryCanada
1    0                         0
1112 0                         0
1510 0                         0
1527 0                         0
3547 1                         0
3579 0                         1
     Rest_ofData.CountryChannel.Islands Rest_ofData.CountryCyprus
1    0                                  0
1112 0                                  0
1510 0                                  0
1527 0                                  0
3547 0                                  0
3579 0                                  0
     Rest_ofData.CountryCzech.Republic Rest_ofData.CountryDenmark ⋯
1    0                                 0                          ⋯
1112 0                                 0                          ⋯
1510 0                                 0                          ⋯
1527 0                                 0                          ⋯
3547 0                                 0                          ⋯
3579 0                                 0                          ⋯
     Rest_ofData.CountryRSA Rest_ofData.CountrySaudi.Arabia
1    0                      0
1112 0                      0
1510 0                      0
1527 0                      0
3547 0                      0
3579 0                      0
     Rest_ofData.CountrySingapore Rest_ofData.CountrySpain
1    0                            0
1112 0                            0
1510 0                            0
1527 0                            0
3547 0                            0
3579 0                            0
     Rest_ofData.CountrySweden Rest_ofData.CountrySwitzerland
1    0                         0
1112 0                         0
1510 0                         0
1527 0                         0
3547 0                         0
3579 0                         0
     Rest_ofData.CountryUnited.Arab.Emirates Rest_ofData.CountryUnited.Kingdom
1    0                                       0
1112 0                                       0
1510 0                                       0
1527 0                                       0
3547 0                                       0
3579 0                                       0
     Rest_ofData.CountryUnspecified Rest_ofData.CountryUSA
1    0                              0
1112 0                              0
1510 0                              0
1527 0                              0
3547 0                              0
3579 0                              0

In [ ]:
# Pay Attention when dealing with Multiple columns of categorical data it EXPLODES In Size
object.size(sparse_matrix_encode) #2.9*10^8

object.size(dfcat) # 1.39*10^9

# Design Matrix: expanding DF to dummy variables
+ *AKA* our One-Hot Enoding

In [221]:
design_mat_two<-model.matrix(~Country-1,Rest_ofData)
# length(unique(Cx))
# head(Rest_ofData$Country)
df_design_two<-data.frame(design_mat_two)

In [222]:
head(unique(df_design_two))

     CountryAustralia CountryAustria CountryBahrain CountryBelgium
1    1                0              0              0
1259 0                1              0              0
1660 0                0              1              0
1677 0                0              0              1
3746 0                0              0              0
3778 0                0              0              0
     CountryBrazil CountryCanada CountryChannel.Islands CountryCyprus
1    0             0             0                      0
1259 0             0             0                      0
1660 0             0             0                      0
1677 0             0             0                      0
3746 1             0             0                      0
3778 0             1             0                      0
     CountryCzech.Republic CountryDenmark ⋯ CountryRSA CountrySaudi.Arabia
1    0                     0              ⋯ 0          0
1259 0                     0              ⋯ 0          0
1660 0                     0              ⋯ 0          0
1677 0                     0              ⋯ 0          0
3746 0                     0              ⋯ 0          0
3778 0                     0              ⋯ 0          0
     CountrySingapore CountrySpain CountrySweden CountrySwitzerland
1    0                0            0             0
1259 0                0            0             0
1660 0                0            0             0
1677 0                0            0             0
3746 0                0            0             0
3778 0                0            0             0
     CountryUnited.Arab.Emirates CountryUnited.Kingdom CountryUnspecified
1    0                           0                     0
1259 0                           0                     0
1660 0                           0                     0
1677 0                           0                     0
3746 0                           0                     0
3778 0                           0                     0
     CountryUSA
1    0
1259 0
1660 0
1677 0
3746 0
3778 0

In [223]:

colSums(df_design_two)

           CountryAustralia              CountryAustria
                       1111                         398
             CountryBahrain              CountryBelgium
                         17                        2020
              CountryBrazil               CountryCanada
                         32                         151
     CountryChannel.Islands               CountryCyprus
                        746                         599
      CountryCzech.Republic              CountryDenmark
                         23                         377
                CountryEIRE   CountryEuropean.Community
                       6842                          60
             CountryFinland               CountryFrance
                        675                        8186
             CountryGermany               CountryGreece
                       8881                         145
             CountryIceland               CountryIsrael
                        182                         245
               CountryItaly                CountryJapan
                        737                         319
             CountryLebanon            CountryLithuania
                         45                          35
               CountryMalta          CountryNetherlands
                        110                        2348
              CountryNorway               CountryPoland
                       1053                         327
            CountryPortugal                  CountryRSA
                       1441                          58
        CountrySaudi.Arabia            CountrySingapore
                          9                         215
               CountrySpain               CountrySweden
                       2450                         438
         CountrySwitzerland CountryUnited.Arab.Emirates
                       1829                          68
      CountryUnited.Kingdom          CountryUnspecified
                     344775                         241
                 CountryUSA
                         67

# Return New DF of `only Countries for One-Hot Encoding`:

+ This is using `Dummy Library` in R

In [72]:
dummy_lib_encode<-cbind(Rest_ofData$Country, dummy(Rest_ofData$Country, sep = "_"))

Warning message in model.matrix.default(~x - 1, model.frame(~x - 1), contrasts = FALSE):
“non-list contrasts argument ignored”

In [74]:
head(unique(dummy_lib_encode))

               NA_Australia NA_Austria NA_Bahrain NA_Belgium NA_Brazil
[1,] Australia 1            0          0          0          0
[2,] Austria   0            1          0          0          0
[3,] Bahrain   0            0          1          0          0
[4,] Belgium   0            0          0          1          0
[5,] Brazil    0            0          0          0          1
[6,] Canada    0            0          0          0          0
     NA_Canada NA_Channel Islands NA_Cyprus NA_Czech Republic ⋯ NA_RSA
[1,] 0         0                  0         0                 ⋯ 0
[2,] 0         0                  0         0                 ⋯ 0
[3,] 0         0                  0         0                 ⋯ 0
[4,] 0         0                  0         0                 ⋯ 0
[5,] 0         0                  0         0                 ⋯ 0
[6,] 1         0                  0         0                 ⋯ 0
     NA_Saudi Arabia NA_Singapore NA_Spain NA_Sweden NA_Switzerland
[1,] 0               0            0        0         0
[2,] 0               0            0        0         0
[3,] 0               0            0        0         0
[4,] 0               0            0        0         0
[5,] 0               0            0        0         0
[6,] 0               0            0        0         0
     NA_United Arab Emirates NA_United Kingdom NA_Unspecified NA_USA
[1,] 0                       0                 0              0
[2,] 0                       0                 0              0
[3,] 0                       0                 0              0
[4,] 0                       0                 0              0
[5,] 0                       0                 0              0
[6,] 0                       0                 0              0

# `Add New Columns` of One-Hot to DF

+ `Pay ATTENTION: THE FIRST ARGUMENT IS NOT SUBSET`, therefore you are adding to the whole DF

In [224]:
dummy_all_data<-cbind(Rest_ofData, dummy(Rest_ofData$Country, sep = "_"))

Warning message in model.matrix.default(~x - 1, model.frame(~x - 1), contrasts = FALSE):
“non-list contrasts argument ignored”

In [225]:
head(dummy_all_data)

  InvoiceNo StockCode Description                   Quantity InvoiceDate
1 563614    23345      DOLLY GIRL BEAKER            200      8/18/2011 8:51
2 568708    23391      I LOVE LONDON MINI BACKPACK    4      9/28/2011 15:41
3 556917    22418     10 COLOUR SPACEBOY PEN         48      6/15/2011 13:37
4 543989    20973     12 PENCIL SMALL TUBE WOODLAND 384      2/15/2011 9:52
5 547659    20984     12 PENCILS TALL TUBE POSY      12      3/24/2011 13:05
6 556917    20984     12 PENCILS TALL TUBE POSY     240      6/15/2011 13:37
  UnitPrice CustomerID Country   CanceledQty Matches ⋯ NA_RSA NA_Saudi Arabia
1 1.08      12415      Australia 1           FALSE   ⋯ 0      0
2 4.15      12393      Australia 1           FALSE   ⋯ 0      0
3 0.85      12415      Australia 1           FALSE   ⋯ 0      0
4 0.55      12415      Australia 1           FALSE   ⋯ 0      0
5 0.85      12434      Australia 1           FALSE   ⋯ 0      0
6 0.29      12415      Australia 1           FALSE   ⋯ 0      0
  NA_Singapore NA_Spain NA_Sweden NA_Switzerland NA_United Arab Emirates
1 0            0        0         0              0
2 0            0        0         0              0
3 0            0        0         0              0
4 0            0        0         0              0
5 0            0        0         0              0
6 0            0        0         0              0
  NA_United Kingdom NA_Unspecified NA_USA
1 0                 0              0
2 0                 0              0
3 0                 0              0
4 0                 0              0
5 0                 0              0
6 0                 0              0

# One Hot Encode with `(CatEncoders)` library

In [149]:
onec<-OneHotEncoder.fit(as.matrix(Rest_ofData$Country))

In [245]:

catEnc_oneHot<-transform(onec,matrix(Rest_ofData$Country),sparse=FALSE)

catEnc_oneHot[50,] # This is One Row in the data

 [1] 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [163]:
qa<-data.frame(catEnc_oneHot)

colSums(qa)

    X1     X2     X3     X4     X5     X6     X7     X8     X9    X10    X11
  1111    398     17   2020     32    151    746    599     23    377   6842
   X12    X13    X14    X15    X16    X17    X18    X19    X20    X21    X22
    60    675   8186   8881    145    182    245    737    319     45     35
   X23    X24    X25    X26    X27    X28    X29    X30    X31    X32    X33
   110   2348   1053    327   1441     58      9    215   2450    438   1829
   X34    X35    X36    X37
    67     68 344775    241

`--------------------------------------------`

# Side Note: 

+ Option: Check Out `library(correlationfunnel)` for Encoding

+ also: `library(mltools)`


+ Label Encoding Issues: If you use this, beaware that this can create issues for analysis because your algorithm may infer that there is some form of ranking by order which may not be the case.
    + Look into what analysis you plan to do and where label encoding fails, because you would like to not build relationships when there are none. 
    + There are instances where you may need to use One Hot encoding after you create Label Encoding. Please look into some of the `Citations & Help` section to get an idea/
    
+ Issues with One Hot Encoding: try to consider that if you have large Categorical data, you will end up with an explotion of new columns causing your dimensionality and memory to be a concern.

# Citations & Help:

https://towardsdatascience.com/choosing-the-right-encoding-method-label-vs-onehot-encoder-a4434493149b

https://jorisvandenbossche.github.io/blog/2017/11/20/categorical-encoder/

https://pbpython.com/categorical-encoding.html

http://www.renom.jp/notebooks/tutorial/preprocessing/onehot/notebook.html

https://www.analyticsvidhya.com/blog/2020/03/one-hot-encoding-vs-label-encoding-using-scikit-learn/

https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/

http://uc-r.github.io/regression_preparation

https://stackoverflow.com/questions/44747961/convert-categorical-column-to-multiple-binary-columns

https://stackoverflow.com/questions/52934841/how-can-i-one-hot-encode-my-dataset-with-several-categorical-variables-in-r/53316634

https://stackoverflow.com/questions/27535371/model-matrix-in-r

https://business-science.github.io/correlationfunnel/reference/binarize.html

https://rdrr.io/cran/CatEncoders/man/LabelEncoder.fit.html